@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/Resources/image.png" alt="EcoEnergy Solutions img" style="width: 100%; height: 90vh; object-fit: cover; margin-bottom: 20px;" />

    <h1 class="display-4">EcoEnergy Solutions</h1>
</div>